NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
EXPERIENCE_APP_URL=
EXPERIENCE_SETUP_KEY=
EXPERIENCE_MANAGER_LINK_KEY=
NEXT_PUBLIC_EXPERIENCE_AUTH_REQUIRED=false
